**Lead Source ROI**

Top source this period: **{{ top_source }}**
• Net profit: ${{ top_net|comma }}
• Avg time-to-close: {{ top_speed }} days

_Action:_ Shift ${{ shift_budget|comma }} ad spend from {{ lagging_source }} next month. ROI is {{ roi_delta|percent }} higher. 