**Sales by Salesperson**

Top rep: **{{ top_rep }}** with {{ top_sales|comma }} sales
Lowest: **{{ low_rep }}** with {{ low_sales|comma }} sales

_Action:_ Consider coaching for {{ low_rep }} to boost performance. 